<div class="item" data-item-id="{{effect.id}}" draggable="true">
    <div class="item__icon"><img src="{{effect.icon}}" /></div>
    <div class="item__title">{{effect.name}}</div>
    <div class="item__actions">
        <button type="button" data-action="toggle-item"><i class="fas fa-fw fa-sliders-simple"></i></button>
        <button type="button" data-action="edit-item"><i class="fas fa-fw fa-edit"></i></button>
        <button type="button" data-action="delete-item"><i class="fas fa-fw fa-trash"></i></button>
    </div>
</div>